// fontes e cores
$fonte-principal: Arial, "Helvetica Neue", Helvetica, sans-serif;
$cor-fonte: #fff;
$cor-principal: #ED1D24;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: $fonte-principal;
}

a{
  text-decoration: none;
  color: #000;
}

img{
  max-width: 100%;
  display: block;
}


// resposivo
@mixin responsivo($tamanho) {
  @if $tamanho == t {
    @media only screen and (min-width: 768px) and (max-width: 990px){
      @content;
    }
  } @else if $tamanho == m {
    @media only screen and (max-width: 767px){
      @content;
    }
  }
}